# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
*.pem
*.log
*.log.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env*
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock
